In [5]:
tupla_numeros = (10,20,30)
tupla_numeros

(10, 20, 30)

In [6]:
tupla_nova = 10,20,30
tupla_nova

(10, 20, 30)

In [7]:
tupla_elemento = 10,
tupla_elemento

(10,)

In [10]:
tupla_vazia = ()
tupla_vazia

()

In [11]:
nova_tupla = tuple('Teste')
nova_tupla

('T', 'e', 's', 't', 'e')

In [12]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene','Cibele','Zuely')

In [18]:
print (tupla_nomes.count('Marlene'))
print (tupla_nomes.count('Suely'))
print (tupla_nomes.count('Zezinho'))

2
0
1

In [22]:
tupla_number = (1,2,2,3,4,4,4,5)
print (tupla_number.count (4))

3